<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>HARE</title>
</head>
<body>
  <h1>HARE</h1>
  <h4><em>Need to flesh out this view...in the meantime, <a href="/admin">access the admin page here!</a></em></h4>
</body>
</html>