<!--HARE, sign up/log in header-->
<%= render 'about/header_not_signed_in' %>

<!--BLOCK ONE START-->
<div class="dark-blue-background" align="center" style="padding:50px;">
<h4 id="white-font">Connecting people who share the common goal of providing Human Assistance</font></h4>
<br>
<h4 id="white-font">[x] individuals and organizations have made [y] donation exchanges to date.</font></h4>
</div>
<!--BLOCK ONE END-->

<!--BLOCK TWO START-->
<div class="white-background" align="left" style="padding:30px;">
<div class="row">
  <div class="large-6 columns">
      <h4><font color="#6684B2">The Problem</font></h4>
      <h5>There are many departments and organizations that provide Human Assistance, but these agencies know little about each other's needs, available resources, and data.</h5>
      <br>
      <h5>For example, the Food Bank networks with local food pantries, a School District networks with only schools under its administration, and the Homeless Assistance agency networks with local homeless shelters. Sometimes these agencies' constituents overlap, but these agencies lack a way to communicate their needs and resources and to coordinate donation exchanges.</h5>
  </div>
  <div class="large-6 columns">
      <h4><font color="#6684B2">How HARE Helps</font></h4>
      <h5>HARE connects each agency's needs and wants with agencies that can supply those items, while providing agencies holding surplus goods a distribution channel.</h5>
      <br>

      <a href="#" class="button radius" style="background-color:#8BA5D5;" margin-left=auto; margin-right=auto;><h5><font color="#FFFFFF">Learn more about our impact</font></h5></a>

      <h4><font color="#6684B2">I'm not part of an organization, can I still help?</font></h4>
      <h5>Yes! Our network is composed of individuals and organizations alike. The only criterion is a desire to give back to Sacramento County.</h5>
  </div>
</div>
</div>
<!--BLOCK TWO END-->

<!--BLOCK FOUR START-->
<div class="dark-blue-background" id ="footer" align="left">
<div class="row" align="center">
  <div class="large-3 columns">
    <br><h3 id="white-font">Get connected</h3>
  </div>
  <div class="large-9 columns" align="center">
    <ul class="button-group radius even-2">
      <li><a href="#" class="button orange"><h4 id ="white-font">Join as an individual</h4></a></li>
      <li><a href="#" class="button orange"><h4 id ="white-font">Join as an organization</h4></a></li>
    </ul>
  </div>
</div>
</div>
<!--BLOCK FOUR END-->

<!--get involved/join footer-->
<%= render 'about/header_not_signed_in' %>





