/* TYPEFACE */

body {
  font-family: Roboto;
}

h2 {
  margin-top: 20px;
  font-weight: 200;
}

h3 {
  font-weight: 200;
}

h4 {
  font-weight: 200;
}

/* COLORS */
.dark-blue-background {
  background-color:#124B7C;
  padding:50px;
}

#dark-blue-font {
  color:#124B7C;
}

.light-blue{
  color:#6684B2;
}

#light-blue-font{
  color:#6684B2;
}

.white-background{
  background-color:#FFFFFF
  padding:20px;
}

#white-font{
  color:#FFFFFF;
}

.orange{
  background-color:#FF792C
}

/* PADDING ON "GET CONNECTED" FOOTER and SIGN/LOG IN HEADER*/
#nav {
  margin-top:5px;
}

#footer {
  padding:5px;
}

/* CENTER TEXT */
.centered-text {
  text-align: center;
}

/* STYLING FOR TESTIMONIAL SECTION */
.quote {
  background: #ebf3f5;
  padding: 15px 20px 5px 15px;
  border-radius: 5px;
  margin-bottom: 30px;
}
.quote:after {
  content: '';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 20px 18px 0 18px;
  border-color: #ebf3f5 transparent transparent transparent;
  position: relative;
  top: 37px;
  left: 20px;
}

.student {
  margin-left: 25px;
  margin-bottom: 80px;
}
.student .photo {
  background-color: #ccc;
  border-radius: 100px;
  width: 60px;
  height: 60px;
  float: left;
  margin-right: 10px;
}
.student p {
  position: relative;
  top: 5px;
  text-transform: uppercase;
}
.student p:nth-child(2) {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
}
.student p:nth-child(3) {
  font-size: 14px;
  color: #777;
}

/* CHECK BOXES */


.inline-field input,
.inline-field label {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle; /* Fixes any weird issues in Firefox and IE */
}

#request-history {
  padding: 20px;

#listings-content {
float: left;
}

#listings-wrapper {
overflow: auto; /* For FF, Safari, Opera, etc */
width: 100%; /* For IE5, IE5.5, IE6, IE7 */
}

#header {
    margin-bottom: 30px;
}

#tab-listings-index {
    margin-top: 10px;
}

#listing-item {
    margin: 30px;
}

#update-info {
  margin-top: 8px;
  text-align: right;
}
